@font-face {
    font-family: 'Anurati';
    src: url('../src/assets/fonts/Anurati-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Geist';
    src: url('../src/assets/fonts/GeistMono.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
  }

.font-anurati {
    font-family: 'Anurati', sans-serif;
  }
  
  .font-geist {
    font-family: 'Geist', sans-serif;
  }